<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vpulse.ftpnext">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.vpulse.ftpnext.MainActivity"
            android:configChanges="orientation|screenLayout|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.CustomActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.vpulse.ftpnext.ConfigureServerActivity"
            android:configChanges="orientation|screenLayout|screenSize"
            android:label="@string/configure_ftp_server"
            android:theme="@style/AppTheme.CustomActionBar" />
        <activity
            android:name="com.vpulse.ftpnext.navigation.NavigationActivity"
            android:configChanges="orientation|screenLayout|screenSize"
            android:label="@string/ftp_navigation"
            android:theme="@style/AppTheme.CustomActionBar"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".SettingsActivity"
            android:configChanges="orientation|screenLayout|screenSize"
            android:label="@string/settings"
            android:theme="@style/AppTheme.CustomActionBar"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".ExistingFileActionActivity"
            android:configChanges="orientation|screenLayout|screenSize"
            android:label="@string/existing_files"
            android:theme="@style/AppTheme.CustomActionBar"
            android:windowSoftInputMode="adjustNothing" />
    </application>

</manifest>